* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 724px;

    margin-bottom: 89px;

    background-color: #0F124D;
}

nav {
    margin-left: 120px;
    margin-right: 124px;

    padding-top: 40px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: white;
}

.navMenu {
    list-style: none;
    align-items: center;

    display: flex;

    gap: 24px;

    font-weight: 500;
    font-size: 16px;
    line-height: 19px;

    color: white;
}

nav a, main h1 span, .frame span, .expert span, .titlePack h3, .titlePack span {
    color: #FDC221;
}

main {
    display: flex;

    margin-left: 120px;
    margin-top: 96px;
    margin-right: 27px;

    gap: 24px;
}

main h1 {
    margin-bottom: 15px;

    font-weight: 500;
    font-size: 48px;
    line-height: 56px;

    text-transform: capitalize;

    color: white;
}

main p {
    margin-bottom: 90px;

    font-weight: 400;
    font-size: 20px;
    line-height: 27px;

    color: #E1E1E1;
}

main button {
    width: 280px;
    height: 64px;

    background: linear-gradient(96.97deg, #F79E0E 7.82%, #EEBD23 103.98%);
    border-radius: 70px;

    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
    
    text-transform: capitalize;

    color: #FFFFFF;
}

.frame {
    margin-left: 183px;
    margin-right: 183px;
    margin-bottom: 29px;

    gap: 30px;

    display: flex;
}

.frame1 {
    background-color: #294199;

    padding: 25px;

    border-radius: 15px;

    text-align: center;
}

.frame2 {
    padding: 25px;

    text-align: center;
}

.frame1 img {
    margin-bottom: 14px;
}

.frame2 img {
    margin-bottom: 14px;
}

.frame1 h3 {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;

    margin-bottom: 30px;

    color: #FFFFFF;
}

.frame2 h3 {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;

    margin-bottom: 30px;

    color: #4B4B4B;
}

.frame1 p {
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;
    text-align: center;

    color: #FFFFFF;
}

.frame2 p {
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;
    text-align: center;

    color: #BFBFBF;
    }

.expert {
    margin-top: 60px;

    padding-left: 120px;
    padding-right: 120px;
    padding-bottom: 162px;

    display: flex;
}

.exp2 {
    margin-top: 100px;

    text-align: start;
}

.exp2 h3 {
    margin-bottom: 15px;

    font-weight: 700;
    font-size: 15px;
    line-height: 20px;
    text-transform: uppercase;

    color: #F79E0E;
}

.exp2 h1 {
    margin-bottom: 12px;

    font-weight: 800;
    font-size: 30px;
    line-height: 41px;
    text-transform: capitalize;

    color: #404041;
}

.exp2 p {
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;

    color: #979797;
}

.exp2 button {
    margin-top: 128px;
    width: 164px;
    height: 53px;
    left: 873px;
    top: 417px;
    color: white;

    background: linear-gradient(96.97deg, #F79E0E 7.82%, #EEBD23 103.98%);

    border-radius: 4px;
}

.packages {
    padding: 100px 263px;

    text-align: center;

    margin-bottom: 1px;
}

.titlePack h3{
    margin-bottom: 15px;

    font-weight: 700;
    font-size: 15px;
    line-height: 20px;
    text-transform: uppercase
}

.titlePack h2 {
    margin-bottom: 91px;

    font-weight: 700;
    font-size: 30px;
    line-height: 41px;
    text-transform: capitalize;

    color: #262626;
}

.contentPack {
    display: flex;

    gap: 20px;

    justify-content: center;
    text-align: center;
    align-items: center;
}

.contentPack h1 {
    font-weight: 800;
    font-size: 40px;
    line-height: 55px;
    text-transform: capitalize;

    color: #262626;
}

.simplify {
    width: 285px;
    height: 603px;
    left: 0px;
    top: 167px;

    background: #FCFAED;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 21px;

}

.topete-b {
    width: 204px;
    height: 6px;

    background: #294199;

    margin-top: 2px;
    margin-left: 41px;
    margin-right: 40px;
    margin-bottom: 36px;

    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.topete-y {
    width: 204px;
    height: 6px;

    background: linear-gradient(96.97deg, #F79E0E 7.82%, #EEBD23 103.98%);

    margin-top: 2px;
    margin-left: 41px;
    margin-right: 40px;
    margin-bottom: 36px;

    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.simplify img {
    margin-bottom: 10px;
}
.simplify h1 {
    margin-bottom: 12px;
}
.simplify p {
    margin-bottom: 33px;

    font-weight: 400;
    font-size: 17px;
    line-height: 23px;
    text-transform: capitalize;

    color: #9D9D9D;
}
.simplify ul {
    list-style: none;

    margin-left: 45px;
    text-align: start;

    font-weight: 600;
    font-size: 13.9333px;
    line-height: 19px;  
    text-transform: capitalize;

    color: #6A6A6A;

}
.simplify ul::before {
    content: '';
    background-image: url(./assets/check-y.svg);
}


.blendify {
    width: 305px;
    height: 645px;
    left: 305px;
    top: 146px;

    background: #294199;
    box-shadow: 0px 4px 4px #6A6A6A;
    border-radius: 21px;
}
.blendify img {
    margin-bottom: 2px;
}
.blendify h1{
    color: #F79E0E;

    margin-bottom: 6px;
}
.blendify p {
    margin-bottom: 38px;

    font-weight: 400;
    font-size: 17px;
    line-height: 23px;
    text-transform: capitalize;

    color: #FFFFFF;
}
.blendify ul {
    margin-left: 45px;
    text-align: start;

    font-weight: 600;
    font-size: 13.9333px;
    line-height: 19px;
    text-transform: capitalize;

    color: #FFFFFF;
}


.rochify {
    width: 285px;
    height: 603px;
    left: 0px;
    top: 167px;

    background: #FCFAED;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 21px;
}
.rochify img {
    margin-bottom: 10px;
}
.rochify h1 {
    margin-bottom: 12px;
}
.rochify p {
    margin-bottom: 23px;
    font-weight: 400;
    font-size: 17px;
    line-height: 23px;
    text-transform: capitalize;

    color: #9D9D9D;
}
.rochify ul {
    margin-left: 45px;
    text-align: start;

    font-weight: 600;
    font-size: 13.9333px;
    line-height: 19px;
    text-transform: capitalize;

    color: #6A6A6A;

    gap: 20px;
}